trigger:
  branches:
    include:
      - develop

pr:
  branches:
    include:
      - develop

pool:
  vmImage: ubuntu-latest

variables:
  buildConfiguration: 'Release'

steps:
- task: UseDotNet@2
  displayName: "Install .NET SDK 9"
  inputs:
    packageType: 'sdk'
    version: '9.0.x'

- script: dotnet --info
  displayName: "dotnet --info"

- script: dotnet restore LoanHub.SearchEngine.sln
  displayName: "Restore"

- script: dotnet build LoanHub.SearchEngine.sln -c $(buildConfiguration) --no-restore
  displayName: "Build"

- script: dotnet test LoanHub.SearchEngine.sln -c $(buildConfiguration) --no-build
  displayName: "Test"
